* {
  background: #141414;
  color: whitesmoke;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  margin: 20px;
  padding: 10px;
}

li:hover {
  color: lightblue;
  font-size: 20px;
  transition: 200ms;
}

button {
  color: rgb(0, 0, 0);
  background: lightblue;
  border: 1px solid black;
  border-radius: 2em;
  font-size: 30px;
  margin: 20px;
  padding: 0px 30px;
}

h3 {
  color: lightblue;
  font-size: 40px;
}
